
<html>
 <form>
<div>
    <div>
       <label>שם עמותה</label>
       <input name="NameOfAsscition" #NameOfAsscition="ngModel" [(ngModel)]="detailsAssociation.NameOfAsscition" type="text" />

    </div>
    <div>
        <label>תאור עמותה</label>
        <input name="DescriptionOfAsscition" #DescriptionOfAsscition="ngModel" [(ngModel)]="detailsAssociation.DescriptionOfAsscition" type="text" />
     </div>
     <div>
        <label>שנת הקמה</label>
        <input name="YearEstablished" #YearEstablished="ngModel" [(ngModel)]="detailsAssociation.YearEstablished" type="text" />
     </div>
        <label>מספר עמותה</label>
        <input name="AssociationNumber" #AssociationNumber="ngModel" [(ngModel)]="detailsAssociation.AssociationNumber" type="text" />
     
     </div>
<button (click)="addOrEdit()">עדכון פרטים</button>
</form>

</html>