<header>הזמנה לאסיפה</header>


<form novalidate (submit)="Invite()" #frm="ngForm">
    <div>
        <label>נושא אסיפה</label>
        <input name="subjectMeeting" #subjectMeeting="ngModel" [(ngModel)]="subject"  type="text" >
    </div>
    
    <div>
        <label>מנהל אסיפה</label>
        <input name="meetingDirector" #meetingDirector="ngModel" [(ngModel)]="Director" type="text">
    </div>
    <!-- <div>
        <label>משתתפים</label>
        <input name="meetingMembers" #meetingMembers="ngModel" [(ngModel)]="invitedMembers" type="text">
    </div> -->
    <div>
        <label>תאריך אסיפה</label>
        <input name="meetingDate" #meetingDate="ngModel" [(ngModel)]="date" type="date">
    </div>
    <select name="invitedMembersList" multiple  [(ngModel)]="invitedMembers">
        <option *ngFor="let member of members" [ngValue]="member">
             {{ member.NameMember }}
        </option>
    </select>
  
    <input type="submit" value="שלח">
    <div id="message">{{message}}</div>

</form> 



<div *ngFor="let member of invitedMembers">
    {{ member.IdMember }}
</div>
