<body>
<label class="return" *ngIf="selectedOptionItem&&finish==false" (click)="changeChoose()">אני רוצה לבחור משהו אחר</label>

<div class="txt">
   <p>אתה מוסר למנהל הבחירות:{{companyName}} את הפרטים הבאים עליך לצורך סטטיסקות אנונימיות:</p>

<div *ngIf="typeDetailsList"  class="list">
   <ng-template ngFor let-item [ngForOf]="typeDetailsList" let-i="index">
       <mat-checkbox color="#008bfb" class="example-margin" (change)="emptyCheckBox(item,$event.checked)" [checked]="true" [disabled]="finish">{{typeList[i].TypeName}}:{{item.TypeDetailsName}}</mat-checkbox>
     <br>
      </ng-template>
</div>

<button mat-button class="btnOK btn" selected type="button" [disabled]="finish" (click)="sendResult()"> סיים</button>

<br>
<label *ngIf="finish==true">תודה שבחרת בEaSelect</label>
</div>
</body>