.add{
    direction: rtl;
}
.timer{
    height: 25% !important;
    line-height: 25% !important;
    width: 25% !important;
    line-height: 25% !important ;
    margin: auto;
    direction: ltr;
  }
.item{
      margin:-7% auto;
      
  }
  button{
    /* right: 110px; */
    margin: auto;
    bottom: -25px;
  }
  form{
   padding-top:0px;
  }
  label{
    font-size: 20px;
    padding-bottom: 10px;
  }