<div style="text-align:center">
     
</div>
      
<div class="image">
        <img id="logo" src="assets/home/logo.png">      
        <div class="btns">
                <img id="logIn"  src="assets/home/logIn.png" selected  (click)="LogIn()" routerLinkActive="active">
                <img id="signUp" src="assets/home/signUp.png" selected  (click)="SignUp()" routerLinkActive="active">
        </div>

        <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSKBROILoIY2uOIHu3dmzxpioBKlXruPYGXJzuLJueUglwdoRtMJDdAZlbuuREYY7UsgL95HEvjKSc3/pubhtml?widget=true&amp;headers=false">kkk</a>
<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSKBROILoIY2uOIHu3dmzxpioBKlXruPYGXJzuLJueUglwdoRtMJDdAZlbuuREYY7UsgL95HEvjKSc3/pubhtml?widget=true&amp;headers=false">ifrff</iframe>

</div>