<div class="vertical"></div>
<div class="frm part">
   <h1  class=title> בוחרים</h1>
    <br>
    <div class="upload">
    <label class="span">טען מחדש פרטי בוחרים</label>
    <br>
    <input type="file" value="טען מחדש פרטי בוחרים" (change)="reUploadVoters(votersUpload)" #votersUpload>
    </div>
    <br>
    <div class="upload">
    <label class="span">טען מחדש מיילי בוחרים</label>
   <br>
    <input type="file" value="טען מחדש כתובות בוחרים" (change)="reUploadEmails(emailsUpload)" #emailsUpload [disabled]="voters" >
 <br>
</div>
<mat-chip-list aria-label="Fish selection">
    <button mat-button type="button" class="btnOK send" (click)="SendMessageToVoters()" >שלח הודעות לבוחרים</button>
</mat-chip-list>
    <!-- <input type="button" value="שלח הודעות לבוחרים" (click)="SendMessageToVoters()" [disabled]="send">   -->
    <br>
<label *ngIf="send==null">שליחת המיילים נעשתה בהצלחה</label>

</div>