
<div>
  <form novalidate  (submit)="SignUp(frm)" #frm="ngForm">
    <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="שם חברה"  name="companyName" [(ngModel)]="newCompany.CompanyName" type="text" #companyName="ngModel" required>
      </mat-form-field>
      <span class="error" *ngIf="companyName.errors!=null && companyName.errors.required">שדה חובה</span>
    </div>

     <div>
           <mat-form-field class="example-full-width">
            <input matInput placeholder="שם משתמש" name="userName" [(ngModel)]="newCompany.UserName" type="text" #userName="ngModel" required  maxlength="20">
          </mat-form-field>
          <span class="error" *ngIf="userName.errors!=null && userName.errors.required">שדה חובה</span>
          </div>
     <div>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="מייל"  name="email" [(ngModel)]="newCompany.EmailManager" type="email" #email="ngModel" required>
              </mat-form-field>
              <span class="error" *ngIf="email.errors!=null && email.errors.required">שדה חובה</span>
     </div>
      
      <div class="example-container">  
        <mat-form-field>
          <input matInput placeholder="סיסמא" name="password" [(ngModel)]="newCompany.Password" type="password" #password="ngModel" required [type]="hide ? 'text' : 'password'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>
        </mat-form-field>        
          <span class="error" *ngIf="password.errors!=null && password.errors.required">שדה חובה</span>
        </div>

      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="אימות סיסמא"  name="passwordTrue" [(ngModel)]="confirmPass"  #passwordTrue="ngModel" required [type]="hide ? 'text' : 'password'">
          <button mat-icon-button matSuffix (click)="hide =!hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>
        </mat-form-field>
        <span class="error" *ngIf="passwordTrue.errors!=null && passwordTrue.errors.required">שדה חובה</span>
        <span class="error" *ngIf="passwordTrue.value!=newCompany.password">הסיסמאות לא זהות</span>
    </div>
    <mat-chip-list aria-label="Fish selection">
      <button mat-button type="submit" [disabled]="!frm.valid"  class="btnOK" selected>רשום אותי</button>
      <!-- <mat-chip id="signUpBtn" selected type="submit" [disabled]="!frm.valid" > רשום אותי</mat-chip> -->
      </mat-chip-list>
      </form>
</div>