<div>
  <form novalidate  (submit)="SignUp(frm)" #frm="ngForm">
    <div>
      <label>שם חברה</label>
      <input name="companyName" [(ngModel)]=company.CompanyName type="text" #CompanyName="ngModel" required >
    </div>
     <div>
          <label>שם משתמש</label>
           <input name="userName" [(ngModel)]="company.UserName" type="text" #UserName="ngModel" required maxlength="20"/>
           <span class="error" *ngIf="UserName.errors!=null && UserName.errors.required">שדה חובה</span>
      </div>
      <div>
          <label>סיסמה</label>
          <input name="password" [(ngModel)]="company.Password" type="password"  placeholder="New password"  required/>
      </div>

       <input type="submit" value="הבא" [routerLink]="['/AddElection']" routerLinkActive="active" [disabled]="!frm.valid" >
  </form>
</div>
