<div>
  <form novalidate (ngSubmit)="onSubmit()" (submit)="SignUp(frm)" #frm="ngForm">
    <div>
      <label>שם חברה</label>
      <input name="companyName" [(ngModel)]=company.CompanyName type="text" #companyName="ngModel" required >
      <span class="error" *ngIf="companyName.errors!=null && companyName.errors.required">שדה חובה</span>
    </div>
     <div>
          <label>שם משתמש</label>
           <input name="userName" [(ngModel)]="company.UserName" type="text" #userName="ngModel" required maxlength="20"/>
           <span class="error" *ngIf="userName.errors!=null && userName.errors.required">שדה חובה</span>
      </div>
      <div>
          <label>סיסמה</label>
          <input name="password" [(ngModel)]="company.Password" type="password" #password="ngModel" required/>
          <span class="error" *ngIf="password.errors!=null && password.errors.required">שדה חובה</span>

      </div>
      <div>
        <label>אמת סיסמה</label>
        <input name="passwordTrue" [(ngModel)]="confirmPass" type="password" #passwordTrue="ngModel"  required/>
        <span class="error" *ngIf="passwordTrue.errors!=null && passwordTrue.errors.required">שדה חובה</span>
        <span class="error" *ngIf="passwordTrue.errors==company.password"></span>

    </div>
       <input type="submit" value="הבא" [routerLink]="['/AddElection']" routerLinkActive="active" [disabled]="!frm.valid" (click)="frm.reset()" >
  </form>
</div>
