<div >
<form novalidate (submit)="AddElection(frm)" #frm="ngForm" class="frm part">
<div class="item"> 
    <mat-form-field class="example-full-width">
        <input matInput placeholder="שם בחירות" name="electionName" [(ngModel)]="newElection.ElectionName" type="text" #electionName="ngModel" required maxlength="50">
    </mat-form-field>
    <span class="error" *ngIf="electionName.errors!=null && electionName.errors.required && electionName.touched">שדה חובה</span>
</div>
<div class="item">
    <mat-form-field class="date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <input matInput [matDatepicker]="picker1" placeholder="בחר תאריך התחלה" name="startDate" [(ngModel)]="startDate1" #startDate="ngModel" required [min]="dateNow">
      </mat-form-field>
    <span class="error" *ngIf="startDate.errors!=null && startDate.errors.required && startDate.touched">שדה חובה</span>
    <span class="error" *ngIf="startDate.errors?.min">תאריך לא יכול להיות לפני התאריך הנוכחי</span>
</div>

<div class="timer item">
<ngb-timepicker [(ngModel)]="startTime1" name="firstTime" #startTime="ngModel">שעת התחלה</ngb-timepicker>

</div>

<div class="item">
    <mat-form-field class="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <input matInput  [matDatepicker]="picker" placeholder="בחר תאריך סיום"  name="endDate" [(ngModel)]="endDate1" #endDate="ngModel" required min="dateNow">
      </mat-form-field>
    <span class="error" *ngIf="endDate.errors!=null && endDate.errors.required && endDate.touched">שדה חובה</span>
    <span class="error" *ngIf="endDate.errors?.min">תאריך לא יכול להיות לפני התאריך הנוכחי</span>

</div>
<div  class="timer item">
<ngb-timepicker [(ngModel)]="endTime1" name="endTime" #endTime="ngModel">שעת סיום</ngb-timepicker>
</div>


<div  class="btnfrm">
    <mat-chip-list aria-label="Fish selection">
        <button mat-button type="submit" [disabled]="!frm.valid" class="btnOK"  selected>הבא</button>
        </mat-chip-list>
</div>
    </form>
    
</div>