<form novalidate  (submit)="AddElection(frm)" #frm="ngForm">
<div>
    <label>שם בחירות</label>
    <input name="electionName" [(ngModel)]="newElection.ElectionName" type="text" #electionName="ngModel" required maxlength="50"/>
    <span class="error" *ngIf="electionName.errors!=null && electionName.errors.required">שדה חובה</span>
</div>
<div>
     <label>תאריך התחלה</label>
    <input type="datetime-local" name="startDate" [(ngModel)]="newElection.StartDate" #startDate="ngModel">
</div>
<div>
    <label>תאריך סיום</label>
    <input type="datetime-local" name="EndDate" [(ngModel)]="newElection.EndDate" #startDate="ngModel">
</div>
<!-- <label>
    Date
    <input [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3">
    <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
</label>

<label>
    Time
    <input [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4">
    <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
</label>   -->
<!-- 
<div class="ui-g-12 ui-md-4">
    <label>תאריך התחלה</label>
    <p-calendar name="startDate" [(ngModel)]="election.StartDate" dateFormat="dd.mm.yy" [showTime]="true" hourFormat="24" #startDate="ngModel">        
    </p-calendar>
    <span class="error" *ngIf="startDate.errors!=null && startDate.errors.required">שדה חובה</span>
    <span class="error" *ngIf="startDate.errors?.min">תאריך לא יכול להיות לפני התאריך הנוכחי</span>

</div>

<div class="ui-g-12 ui-md-4">
        <label>תאריך סיום</label>
        <p-calendar class="ng-tns-c3-8 ng-valid ui-inputwrapper-filled ng-dirty ng-touched" name="endDate" [(ngModel)]="election.EndDate" [showTime]="true" hourFormat="24" #endDate="ngModel"></p-calendar>
        <span class="error" *ngIf="endDate.errors!=null && endDate.errors.required">שדה חובה</span>
        <span class="error" *ngIf="endDate.errors?.min">תאריך לא יכול להיות לפני התאריך הנוכחי</span>
</div>     
    -->

<input type="submit" value="הבא" [routerLink]="['/AddElectionOption']" routerLinkActive="active" [disabled]="!frm.valid" >

</form>

