<form novalidate  (submit)="AddElection(frm)" #frm="ngForm">
  <div>
    <label>שם בחירות</label>
    <input name="electionName" [(ngModel)]="election.ElectionName" type="text" #electionName="ngModel" required maxlength="50"/>
    <span class="error" *ngIf="electionName.errors!=null && electionName.errors.required">שדה חובה</span>
</div>  

<div>
    <label>תאריך התחלה </label>
    <input name="startDate" [(ngModel)]="election.StartDate" type="datetime-local" #startDate="ngModel" required min="[(dateNow)]"/>
    <span class="error" *ngIf="startDate.errors!=null && startDate.errors.required">שדה חובה</span>
    <span class="error" *ngIf="startDate.errors?.min">תאריך לא יכול להיות לפני התאריך הנוכחי</span>
</div> 
<div>
    <label>תאריך סיום</label>
    <input name="endDate" [(ngModel)]="election.EndDate" type="datetime-local" #endDate="ngModel" required min="[(dateNow)]"/>
    <span class="error" *ngIf="endDate.errors!=null && endDate.errors.required">שדה חובה</span>
    <span class="error" *ngIf="endDate.errors?.min">תאריך לא יכול להיות לפני התאריך הנוכחי</span>

</div> 
<input type="submit" value="הבא" [routerLink]="['/AddElectionOption']" routerLinkActive="active" [disabled]="!frm.valid" >

</form>

