.error{
    color: red;
    
}

p {
    font-family: Lato;
  }
/* 
  input.ng-touched.ng-invalid {
    border: 1px solid red;
  } */
  .image{
    text-align: center;
    margin: auto;  
  }
  #loginBtn{
      background-color:#00ffff;
  }