<!-- <link href=".\.\app.component.css" type="text/css" rel="stylesheet" /> -->
<div>
  <form novalidate  (submit)="enter(frm)" #frm="ngForm" >
      <div>
          <label >שם משתמש</label>
           <input name="UserName" [(ngModel)]="logIn.UserName" type="text" #UserName="ngModel" required placeholder="הכנס שם משתמש"/>
           <span class="error font" *ngIf="UserName.errors!=null && UserName.errors.required">שדה חובה</span>
      </div>
      <div>
          <label>סיסמא</label>
          <input name="Password" [(ngModel)]="logIn.Password" type="password" #Password="ngModel" required placeholder="הכנס סיסמא"/>
          <span class="error" *ngIf="Password.errors!=null && Password.errors.required">שדה חובה</span>
        </div>

       <input type="submit" value="הכנס" [disabled]="!frm.valid" >
  </form>
</div>
