<div>
  <form novalidate  (submit)="enter(frm)" #frm="ngForm">
      <div>
          <label>שם משתמש</label>
           <input name="UserName" [(ngModel)]="logIn.UserName" type="text" #UserName="ngModel" required maxlength="20"/>
           <span class="error" *ngIf="UserName.errors!=null && UserName.errors.required">שדה חובה</span>
      </div>
      <div>
          <label>סיסמה</label>
          <input name="Password" [(ngModel)]="logIn.Password" type="password" #Password="ngModel" required placeholder="New password"  />
          <span class="error" *ngIf="Password.errors!=null && UserName.errors.required">שדה חובה</span>
        </div>

       <input type="submit" value="הכנס" [disabled]="!frm.valid" >
  </form>
</div>
