<!-- <link href=".\.\app.component.css" type="text/css" rel="stylesheet" /> -->
<div class="image">
    <img id="logo" src="assets/home/logo.png">      
</div>
<div>
  <form novalidate  (submit)="enter(frm)" #frm="ngForm" >
      <div>
        <mat-form-field class="example-full-width">
           <input matInput placeholder="שם משתמש" name="userName" [(ngModel)]="logIn.UserName" type="text" #userName="ngModel" required />
          
          </mat-form-field>
           <span class="error font" *ngIf="userName.errors!=null && userName.errors.required">שדה חובה</span>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="סיסמא" name="password" [(ngModel)]="logIn.Password" type="password" #password="ngModel" required />
        </mat-form-field>
          <span class="error font" *ngIf="password.errors!=null && password.errors.required">שדה חובה</span>
        </div>
        <mat-chip-list aria-label="Fish selection">
            <button mat-button type="submit" [disabled]="!frm.valid"  class="btnOK" selected>הכנס</button>
            </mat-chip-list>
        </form>
</div>
