/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 
body{
    font-family: Stanga AAA;
    /* font-family: Almoni DL AAA; */
    direction: rtl;
}
html, body { height: 100%; }

.image{
    padding-top: 7vh;
    text-align: center;
    margin: auto;  
  }


/* דפי כניסה*/
.btnOK{
    background-color:#00ffff;
    font-family: Stanga AAA;
    font-size: 20px;
}
.btnfrm{
width: 25%;
align-items: center;
margin: auto;
position: relative;
left: -5%;
bottom: -50px;
}
.error{
    color: #008bfb;
    font-family: Stanga AAA;
}
.example-full-width,.date{
    font-family: Stanga AAA;
 font-size:20px;
  }
  .gradient{
    background-image: linear-gradient(to right, #008bfb,#00ffff );
  }
.frm{
   
    background-color: white;
   
    margin:auto;
    padding: 2%;
    position: relative;
    text-align: center;  
  
  }
.input{
   height: 70px;
  }
 
.part{
    padding-top: 30px;
    border-width: 2px;
    border-radius: 15%;
  /*  border-image: linear-gradient(to right, #008bfb,#00ffff );*/
  border-color: #008bfb;
   border-style: solid;
   width: 350px;
   margin-right: 15px;
   height: 450px;
   float: right;
  }
.vertical{
      margin-top: 70px;
      margin-right: 25px;
      margin-left: 10px;
      border-left: 3px solid #00ffff;
      height:300px;
      float: right;

  }
.list{
   
    margin: auto;
    max-width: 200px;
    overflow-x: auto;
    /* overflow:hidden; */
    overflow-y:auto;
    max-height: 200px;
    text-align: right;
  }

.next{
    right: 125px; 
    
    }
.title{
    font-size:  35px;
     margin: auto;
     text-align: center;
   }
   .span{
    color:#008bfb;
    font-size: 20px;
    display: inline-block;
}
.upload{
    margin: auto;
    width: 250px;
    border-radius: 7.5px;
    border-color: #008bfb;
    border-style: solid;
    border-width: 1px;
    padding-bottom: 10px;
}
.up{
    display: inline-block;
}

      /* דפי מנהל עריכה הצגה וכד'*/