<html>
    <form novalidate  (submit)="SignInDB(frm)" #frm="ngForm">
       <div class="associationDetails"> ספר לנו על העמותה שלך 
        <div>
            <label>שם עמותה</label>
            <input name="associationName" #associationName="ngModel" [(ngModel)]="details.NameOfAssociation" type="text"  maxlength="50"  required/>
            <span class="error" *ngIf="associationName.errors!=null && associationName.errors.required">שדה חובה</span>
            <span class="error" *ngIf="associationName.errors?.maxlength"> אורך שדה זה חייב להיות עד {{associationName.errors.maxlength.requiredLength}} והאורך הנוכחי הוא {{associationName.errors.maxlength.actualLength}}</span>
        </div>

        <div>
            <label>תאור עמותה</label>
            <input name="associationDescription"  [(ngModel)]="details.DescriptionOfAsscition" type="text" />
               
       </div>
       
       <div>
            <label>שנת הקמה</label>
            <input name="associationYear" #yearEstablished="ngModel"  [(ngModel)]="details.YearEstablished"  type="number" required pattern="^[0-9]*$"  [min]="1948" [max]="[(year)]" />
            <span class="error" *ngIf="yearEstablished.errors!=null && yearEstablished.errors.required">שדה חובה</span>
            <span class="error" *ngIf="yearEstablished.errors?.pattern">ספרות בלבד</span>
            <span class="error" *ngIf="yearEstablished.errors?.min"> הקמת העמותה חייבת להיות משנת 1948</span>  
            <span class="error" *ngIf="yearEstablished.errors?.max"> הקמת העמותה חייבת להיות עד התאריך של היום</span>
        </div>
         
         <div>
                <label>מספר עמותה</label>
                <input name="associationNumber" #associationNumber="ngModel" [(ngModel)]="details.AssociationNumber"  type="number" required maxlength="9" minlength="9" pattern="^[0-9]*$"/>
                <span class="error" *ngIf="associationNumber.errors!=null && associationNumber.errors.required">שדה חובה</span>
                <span class="error" *ngIf="associationNumber.errors?.pattern">ספרות בלבד</span>
                <span class="error" *ngIf="yearEstablished.errors?.minlength"> מספר עמותה חייב להיות מורכב מתשע ספרות</span>  
                <span class="error" *ngIf="yearEstablished.errors?.maxlength"> מספר עמותה לא יכול להכיל יותר מתשע ספרות</span>
             </div>
        </div>


        <div class="LogIn">
            <div>
                <label>שם משתמש</label>
                 <input name="UserName" [(ngModel)]="details.UserName" type="text" #UserName="ngModel" required maxlength="20"/>
                 <span class="error" *ngIf="UserName.errors!=null && UserName.errors.required">שדה חובה</span>
            </div>
            <!-- <form [formGroup]="myForm"> -->
            <div>
                    <label>סיסמה</label>
                     <input name="password" [(ngModel)]="details.Password" type="password"  placeholder="New password"  required/>
                     <!-- <mat-error *ngIf="myForm.hasError('required', 'password')">
                        Please enter your newpassword
                    </mat-error> -->
                </div>
             <div>
                    <label>אמת סיסמה</label>
                     <input  type="password" placeholder="Confirm password" />
                     <!-- <mat-error *ngIf="myForm.hasError('notSame')">
                        Passwords do not match
                    </mat-error>   -->
                </div>
            <!-- </form> -->
        </div>
            
        <input type="submit"/>
    </form>
</html>
    