
.listA{
    margin: auto;
    max-width: 300px;
    overflow-x: auto;
     overflow:hidden; 
    overflow-y:auto;
    max-height: 400px;
    text-align: right;
}
td{
 display: inline-block;
 
}
.add{
    display: inline-block;
  
}


.example-full-width{
    height: 50px;
}
