<div >
    <div class="vertical"></div>
<div class="frm part">
    
    <input type="file" (change)="upload(fileUpload)" #fileUpload value="טען פרטי בוחרים">
<br>
    <label>פרטי בוחרים יופיעו בקובץ אקסל שישמר בשם .csvקובץ ( יופיעו קוד טביעת Aבעמודה הראשונה ) האצבע של הבוחרים. בעמודה האחרונה יופיעו כתובות המייל שלהם. בעמודה השלישית ואילך יופיעו סיווגים שלפיהם אתם מעוניינים לסווג את הבוחרים. השורה הראשונה תכיל את כותרות הסיווגים.</label>
    <br>
    <input type="file"  (change)="uploadEmailList(emailUpload)" #emailUpload value="טען מיילים">
    <br>
    <input type="button" value="שלח מיילים לבוחרים" (click)="SendMessageToVoters()">
<br>
    <a target="_blank" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vQMhAjoggKQiiJakqflbyZvvpAfjzmm1DTY1Ya7DpKAxgKRh1J0hwUpaFDlxdAmWF920B4UVLuXHWx_/pubhtml?widget=true&amp;headers=false">לחץ כדי לצפות בקובץ לדוגמא</a>
<br>
    <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vQMhAjoggKQiiJakqflbyZvvpAfjzmm1DTY1Ya7DpKAxgKRh1J0hwUpaFDlxdAmWF920B4UVLuXHWx_/pub?output=csv">לחץ כאן כדי להוריד קובץ לדוגמא</a>
<br>

<mat-chip-list aria-label="Fish selection">
    <button mat-button type="button" class="btnOK" selected (click)="next()">סיימתי</button>
    </mat-chip-list>
</div>
</div>