


<form novalidate (submit)="searchInMeeetings(frm)" #frm="ngForm">
  <div>
      <label>תאריך אסיפה</label>
      <input name="DateMeeting" #DateMeeting="ngModel" [(ngModel)]="protocolCriteria.DateMeeting" type="date" />

  </div>
  <div>
      <label>חדש אסיפה</label>
      <input name="monthMeeting" #monthMeeting="ngModel" [(ngModel)]="protocolCriteria.monthMeeting" type="number" />
  </div>
  <div>
      <label>נושא אסיפה</label>
      <input name="subjectMeeting" #subjectMeeting="ngModel" [(ngModel)]="protocolCriteria.subjectMeeting" type="text" />
  </div>
  <div>
      <label>מנהל אסיפה</label>
      <input name="MeetingDirector" #MeetingDirector="ngModel" [(ngModel)]="protocolCriteria.MeetingDirector" type="text" />
  </div>  
  <input type="submit" value="חפש">
</form>





<!-- <table class="table table-hover table-dark">
  <tbody>
    <tr *ngFor="let meeting of meetings">
      <td>{{meeting.SubjectMeeting}}</td>
    </tr>
  </tbody>
</table> -->
<p>הפגישות</p>
<table class="table table-hover table-dark">
        <thead>
            <tr>
      <th>נושא הפגישה</th>
      <th> תאריך פגישה</th>
      <th>תאריך שנוצר</th>
      <th>מנהל פגישה</th>
      <!-- <th>סוג פגישה</th> -->

            </tr>
            <tbody>
                    <tr *ngFor="let meeting of meetings">
                        <td>{{meeting.SubjectMeeting}}</td>
                        <td>{{meeting.DateMeeting | date : "dd/MM/yyyy"}}</td>
                        <td>{{meeting.Date}}</td>
                        <td>{{meeting.MeetingDirector}}</td>
                        <!-- <td>{{meeting.CodeTypeMeeting}}</td> -->
                        
                        <td>
                            <input type="button" value="download" class="btn btn-warning"  >
                          </td>
                    </tr>
                </tbody>
              </table>
              
