<div class="vertical"></div>
<form novalidate (submit)="AddElectionOption(frm)" #frm="ngForm" class="frm part">          
    
      <div>  
      <mat-form-field class="example-full-width">
              <input matInput placeholder="שם אופציה" type="text" [(ngModel)]="newElectionOption.ElectionOptionName" type="text" #electionOptionName="ngModel" required [ngModelOptions]="{standalone: true}" maxlength="30">
        </mat-form-field>
        <span class="error" *ngIf="electionOptionName.errors!=null && electionOptionName.errors.required && electionOptionName.touched && countOptions<2">שדה חובה</span>
      </div>
       
        <mat-chip-list aria-label="Fish selection">
          <button mat-button type="submit" [disabled]="!frm.valid"  id="electionOptionBtn" selected class="btnOK btn">הוסף אופציה</button>
</mat-chip-list>
        
<div class="list">
      <table *ngIf="countOptions>=1" >
        <tr *ngFor="let item of electionOptionList">
          <td>{{item.ElectionOptionName}}</td>
        </tr>
    </table> 
  </div>  

<mat-chip-list aria-label="Fish selection">
   <button mat-button type="button" *ngIf="countOptions>=2" class="btnOK next" selected (click)="AddVoters()">הבא</button>
 </mat-chip-list>
</form>
    