<form novalidate (submit)="AddElectionOption(frm)" #frm="ngForm">                
      <div>  
      <mat-form-field class="example-full-width">
              <input matInput placeholder="שם אופציה" type="text" [(ngModel)]="newElectionOption.ElectionOptionName" type="text" #electionOptionName="ngModel" required [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        </div>

<mat-chip-list aria-label="Fish selection">
                <button mat-button type="submit" [disabled]="!frm.valid"  id="electionOptionBtn" selected>הוסף אופציה</button>
</mat-chip-list>
<mat-chip-list aria-label="Fish selection">
   <button mat-button type="button" [disabled]="countOptions<2" class="btnOK" selected (click)="AddVoters(electionId)">הבא</button>
 </mat-chip-list>
</form>
    